<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentailFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeedStudy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedStudyAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40D62632A8F5145009D2748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F40D626A2A8F5145009D2748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F434243E2A8A9BC900CE0ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47C3B582A5A9BD200B1F60E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47C3B602A5A9BD200B1F60E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D1F05E2A66D228002859B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
